
#font-detection {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.tested-font {
    background-color: blue;
}

.font-detection-wrapper {
    width: fit-content;
}
    /* sans-serif-thin, fallback */
#font-sans-serif-thin-container {
    container-type: inline-size;
    container-name: font-sans-serif-thin-container;
}

#font-sans-serif-thin-text {
    font-family: "sans-serif-thin", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-sans-serif-thin-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=sans-serif-thin");
    }
}

/* ARNO PRO, fallback */
#font-arno-pro-container {
    container-type: inline-size;
    container-name: font-arno-pro-container;
}

#font-arno-pro-text {
    font-family: "ARNO PRO", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-arno-pro-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=ARNO PRO") !important;
    }
}

/* Agency FB, fallback */
#font-agency-fb-container {
    container-type: inline-size;
    container-name: font-agency-fb-container;
}

#font-agency-fb-text {
    font-family: "Agency FB", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-agency-fb-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Agency FB") !important;
    }
}

/* Arabic Typesetting, fallback */
#font-arabic-typesetting-container {
    container-type: inline-size;
    container-name: font-arabic-typesetting-container;
}

#font-arabic-typesetting-text {
    font-family: "Arabic Typesetting", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-arabic-typesetting-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Arabic Typesetting") !important;
    }
}

/* Arial Unicode MS, fallback */
#font-arial-unicode-ms-container {
    container-type: inline-size;
    container-name: font-arial-unicode-ms-container;
}

#font-arial-unicode-ms-text {
    font-family: "Arial Unicode MS", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-arial-unicode-ms-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Arial Unicode MS") !important;
    }
}

/* AvantGarde Bk BT, fallback */
#font-avantgarde-bk-bt-container {
    container-type: inline-size;
    container-name: font-avantgarde-bk-bt-container;
}

#font-avantgarde-bk-bt-text {
    font-family: "AvantGarde Bk BT", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-avantgarde-bk-bt-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=AvantGarde Bk BT") !important;
    }
}

/* BankGothic Md BT, fallback */
#font-bankgothic-md-bt-container {
    container-type: inline-size;
    container-name: font-bankgothic-md-bt-container;
}

#font-bankgothic-md-bt-text {
    font-family: "BankGothic Md BT", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-bankgothic-md-bt-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=BankGothic Md BT") !important;
    }
}

/* Batang, fallback */
#font-batang-container {
    container-type: inline-size;
    container-name: font-batang-container;
}

#font-batang-text {
    font-family: "Batang", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-batang-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Batang") !important;
    }
}

/* Bitstream Vera Sans Mono, fallback */
#font-bitstream-vera-sans-mono-container {
    container-type: inline-size;
    container-name: font-bitstream-vera-sans-mono-container;
}

#font-bitstream-vera-sans-mono-text {
    font-family: "Bitstream Vera Sans Mono", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-bitstream-vera-sans-mono-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Bitstream Vera Sans Mono") !important;
    }
}

/* Calibri, fallback */
#font-calibri-container {
    container-type: inline-size;
    container-name: font-calibri-container;
}

#font-calibri-text {
    font-family: "Calibri", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-calibri-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Calibri") !important;
    }
}

/* Century, fallback */
#font-century-container {
    container-type: inline-size;
    container-name: font-century-container;
}

#font-century-text {
    font-family: "Century", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-century-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Century") !important;
    }
}

/* Century Gothic, fallback */
#font-century-gothic-container {
    container-type: inline-size;
    container-name: font-century-gothic-container;
}

#font-century-gothic-text {
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-century-gothic-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Century Gothic") !important;
    }
}

/* Clarendon, fallback */
#font-clarendon-container {
    container-type: inline-size;
    container-name: font-clarendon-container;
}

#font-clarendon-text {
    font-family: "Clarendon", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-clarendon-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Clarendon") !important;
    }
}

/* EUROSTILE, fallback */
#font-eurostile-container {
    container-type: inline-size;
    container-name: font-eurostile-container;
}

#font-eurostile-text {
    font-family: "EUROSTILE", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-eurostile-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=EUROSTILE") !important;
    }
}

/* Franklin Gothic, fallback */
#font-franklin-gothic-container {
    container-type: inline-size;
    container-name: font-franklin-gothic-container;
}

#font-franklin-gothic-text {
    font-family: "Franklin Gothic", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-franklin-gothic-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Franklin Gothic") !important;
    }
}

/* Futura Bk BT, fallback */
#font-futura-bk-bt-container {
    container-type: inline-size;
    container-name: font-futura-bk-bt-container;
}

#font-futura-bk-bt-text {
    font-family: "Futura Bk BT", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-futura-bk-bt-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Futura Bk BT") !important;
    }
}

/* Futura Md BT, fallback */
#font-futura-md-bt-container {
    container-type: inline-size;
    container-name: font-futura-md-bt-container;
}

#font-futura-md-bt-text {
    font-family: "Futura Md BT", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-futura-md-bt-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Futura Md BT") !important;
    }
}

/* GOTHAM, fallback */
#font-gotham-container {
    container-type: inline-size;
    container-name: font-gotham-container;
}

#font-gotham-text {
    font-family: "GOTHAM", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-gotham-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=GOTHAM") !important;
    }
}

/* Gill Sans MT, fallback */
#font-gill-sans-mt-container {
    container-type: inline-size;
    container-name: font-gill-sans-mt-container;
}

#font-gill-sans-mt-text {
    font-family: "Gill Sans MT", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-gill-sans-mt-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Gill Sans MT") !important;
    }
}

/* HELV, fallback */
#font-helv-container {
    container-type: inline-size;
    container-name: font-helv-container;
}

#font-helv-text {
    font-family: "HELV", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-helv-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=HELV") !important;
    }
}

/* Haettenschweiler, fallback */
#font-haettenschweiler-container {
    container-type: inline-size;
    container-name: font-haettenschweiler-container;
}

#font-haettenschweiler-text {
    font-family: "Haettenschweiler", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-haettenschweiler-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Haettenschweiler") !important;
    }
}

/* Helvetica Neue, fallback */
#font-helvetica-neue-container {
    container-type: inline-size;
    container-name: font-helvetica-neue-container;
}

#font-helvetica-neue-text {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-helvetica-neue-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Helvetica Neue") !important;
    }
}

/* Humanst521 BT, fallback */
#font-humanst521-bt-container {
    container-type: inline-size;
    container-name: font-humanst521-bt-container;
}

#font-humanst521-bt-text {
    font-family: "Humanst521 BT", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-humanst521-bt-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Humanst521 BT") !important;
    }
}

/* Leelawadee UI, fallback */
#font-leelawadee-ui-container {
    container-type: inline-size;
    container-name: font-leelawadee-ui-container;
}

#font-leelawadee-ui-text {
    font-family: "Leelawadee UI", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-leelawadee-ui-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Leelawadee UI") !important;
    }
}

/* Letter Gothic, fallback */
#font-letter-gothic-container {
    container-type: inline-size;
    container-name: font-letter-gothic-container;
}

#font-letter-gothic-text {
    font-family: "Letter Gothic", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-letter-gothic-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Letter Gothic") !important;
    }
}

/* Levenim MT, fallback */
#font-levenim-mt-container {
    container-type: inline-size;
    container-name: font-levenim-mt-container;
}

#font-levenim-mt-text {
    font-family: "Levenim MT", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-levenim-mt-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Levenim MT") !important;
    }
}

/* Lucida Bright, fallback */
#font-lucida-bright-container {
    container-type: inline-size;
    container-name: font-lucida-bright-container;
}

#font-lucida-bright-text {
    font-family: "Lucida Bright", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-lucida-bright-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Lucida Bright") !important;
    }
}

/* Lucida Sans, fallback */
#font-lucida-sans-container {
    container-type: inline-size;
    container-name: font-lucida-sans-container;
}

#font-lucida-sans-text {
    font-family: "Lucida Sans", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-lucida-sans-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Lucida Sans") !important;
    }
}

/* Menlo, fallback */
#font-menlo-container {
    container-type: inline-size;
    container-name: font-menlo-container;
}

#font-menlo-text {
    font-family: "Menlo", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-menlo-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Menlo") !important;
    }
}

/* MS Mincho, fallback */
#font-ms-mincho-container {
    container-type: inline-size;
    container-name: font-ms-mincho-container;
}

#font-ms-mincho-text {
    font-family: "MS Mincho", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-ms-mincho-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=MS Mincho") !important;
    }
}

/* MS Outlook, fallback */
#font-ms-outlook-container {
    container-type: inline-size;
    container-name: font-ms-outlook-container;
}

#font-ms-outlook-text {
    font-family: "MS Outlook", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-ms-outlook-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=MS Outlook") !important;
    }
}

/* MS Reference Specialty, fallback */
#font-ms-reference-specialty-container {
    container-type: inline-size;
    container-name: font-ms-reference-specialty-container;
}

#font-ms-reference-specialty-text {
    font-family: "MS Reference Specialty", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-ms-reference-specialty-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=MS Reference Specialty") !important;
    }
}

/* MS UI Gothic, fallback */
#font-ms-ui-gothic-container {
    container-type: inline-size;
    container-name: font-ms-ui-gothic-container;
}

#font-ms-ui-gothic-text {
    font-family: "MS UI Gothic", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-ms-ui-gothic-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=MS UI Gothic") !important;
    }
}

/* MT Extra, fallback */
#font-mt-extra-container {
    container-type: inline-size;
    container-name: font-mt-extra-container;
}

#font-mt-extra-text {
    font-family: "MT Extra", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-mt-extra-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=MT Extra") !important;
    }
}

/* MYRIAD PRO, fallback */
#font-myriad-pro-container {
    container-type: inline-size;
    container-name: font-myriad-pro-container;
}

#font-myriad-pro-text {
    font-family: "MYRIAD PRO", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-myriad-pro-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=MYRIAD PRO") !important;
    }
}

/* Marlett, fallback */
#font-marlett-container {
    container-type: inline-size;
    container-name: font-marlett-container;
}

#font-marlett-text {
    font-family: "Marlett", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-marlett-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Marlett") !important;
    }
}

/* Meiryo UI, fallback */
#font-meiryo-ui-container {
    container-type: inline-size;
    container-name: font-meiryo-ui-container;
}

#font-meiryo-ui-text {
    font-family: "Meiryo UI", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-meiryo-ui-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Meiryo UI") !important;
    }
}

/* Microsoft Uighur, fallback */
#font-microsoft-uighur-container {
    container-type: inline-size;
    container-name: font-microsoft-uighur-container;
}

#font-microsoft-uighur-text {
    font-family: "Microsoft Uighur", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-microsoft-uighur-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Microsoft Uighur") !important;
    }
}

/* Minion Pro, fallback */
#font-minion-pro-container {
    container-type: inline-size;
    container-name: font-minion-pro-container;
}

#font-minion-pro-text {
    font-family: "Minion Pro", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-minion-pro-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Minion Pro") !important;
    }
}

/* Monotype Corsiva, fallback */
#font-monotype-corsiva-container {
    container-type: inline-size;
    container-name: font-monotype-corsiva-container;
}

#font-monotype-corsiva-text {
    font-family: "Monotype Corsiva", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-monotype-corsiva-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Monotype Corsiva") !important;
    }
}

/* PMingLiU-ExtB, fallback */
#font-pmingliu-extb-container {
    container-type: inline-size;
    container-name: font-pmingliu-extb-container;
}

#font-pmingliu-extb-text {
    font-family: "PMingLiU-ExtB", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-pmingliu-extb-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=PMingLiU-ExtB") !important;
    }
}

/* Pristina, fallback */
#font-pristina-container {
    container-type: inline-size;
    container-name: font-pristina-container;
}

#font-pristina-text {
    font-family: "Pristina", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-pristina-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Pristina") !important;
    }
}

/* SCRIPTINA, fallback */
#font-scriptina-container {
    container-type: inline-size;
    container-name: font-scriptina-container;
}

#font-scriptina-text {
    font-family: "SCRIPTINA", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-scriptina-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=SCRIPTINA") !important;
    }
}

/* Segoe UI Light, fallback */
#font-segoe-ui-light-container {
    container-type: inline-size;
    container-name: font-segoe-ui-light-container;
}

#font-segoe-ui-light-text {
    font-family: "Segoe UI Light", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-segoe-ui-light-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Segoe UI Light") !important;
    }
}

/* Serifa, fallback */
#font-serifa-container {
    container-type: inline-size;
    container-name: font-serifa-container;
}

#font-serifa-text {
    font-family: "Serifa", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-serifa-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Serifa") !important;
    }
}

/* SimHei, fallback */
#font-simhei-container {
    container-type: inline-size;
    container-name: font-simhei-container;
}

#font-simhei-text {
    font-family: "SimHei", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-simhei-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=SimHei") !important;
    }
}

/* Small Fonts, fallback */
#font-small-fonts-container {
    container-type: inline-size;
    container-name: font-small-fonts-container;
}

#font-small-fonts-text {
    font-family: "Small Fonts", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-small-fonts-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Small Fonts") !important;
    }
}

/* Staccato222 BT, fallback */
#font-staccato222-bt-container {
    container-type: inline-size;
    container-name: font-staccato222-bt-container;
}

#font-staccato222-bt-text {
    font-family: "Staccato222 BT", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-staccato222-bt-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Staccato222 BT") !important;
    }
}

/* TRAJAN PRO, fallback */
#font-trajan-pro-container {
    container-type: inline-size;
    container-name: font-trajan-pro-container;
}

#font-trajan-pro-text {
    font-family: "TRAJAN PRO", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-trajan-pro-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=TRAJAN PRO") !important;
    }
}

/* Univers CE 55 Medium, fallback */
#font-univers-ce-55-medium-container {
    container-type: inline-size;
    container-name: font-univers-ce-55-medium-container;
}

#font-univers-ce-55-medium-text {
    font-family: "Univers CE 55 Medium", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-univers-ce-55-medium-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Univers CE 55 Medium") !important;
    }
}

/* Vrinda, fallback */
#font-vrinda-container {
    container-type: inline-size;
    container-name: font-vrinda-container;
}

#font-vrinda-text {
    font-family: "Vrinda", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-vrinda-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=Vrinda") !important;
    }
}

/* ZWAdobeF, fallback */
#font-zwadobef-container {
    container-type: inline-size;
    container-name: font-zwadobef-container;
}

#font-zwadobef-text {
    font-family: "ZWAdobeF", Arial, sans-serif;
    font-size: 16px;
    white-space: nowrap;
    display: block;
}

@container font-zwadobef-container not (255.8px < width < 257px) {
    p {
        background-image: url("/fingerprint?font=ZWAdobeF") !important;
    }
}

