#container-microsoft-office {
    container-type: inline-size;
    container-name: microsoft-office;
    font-family: 'Leelawadee';
    font-style: normal;
    font-weight: 100;
    font-size: 11px;
    width: 1cap;
}

@container microsoft-office (width > 7.5px) {
    #pmicrosoft-office {
        background-image: url("/microsoft-office?param=1");
    }
}

@container microsoft-office (width < 7.5px) {
    #pmicrosoft-office {
        background-image: url("/microsoft-office?param=0");
    }
}