<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='viewport-width.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='image-set.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='os-identification.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='button-width.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-detection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='env-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='env-2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='env-3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='env-4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='env-5.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='env-6.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='env-7.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='env-8.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='env-9.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='env-10.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='env-11.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='env-12.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='env-13.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='env-14.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-4.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-5.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-6.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-7.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-8.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-9.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='media-10.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='calc-1.css') }}">
    <title>CSS Fingerprinting</title>
</head>
<body>
<h1>Hello, Fingerprinting!</h1>
<!-- viewport dimension leak -->

<div id="viewport-wrapper">
    <div id="container-viewport">
        <p id="viewport-height">Viewport height leak</p>
        <p id="viewport-width">Viewport width leak</p>
    </div>
</div>

<div class="divider"></div>

<!-- image-set leak -->
<div id="container-image-set1">
    <p id="pimage-set">Image set leak</p>
</div>

<div class="divider"></div>

<div id="container-image-set2">
    <p id="pimage-set2">Image set leak</p>
</div>

<div class="divider"></div>
<!-- OS identification -->
<div id="calc-wrapper">
    <div id="targetCalc"></div>
    <div id="containerCalc"><span id="calcWindows">Windows 11</span><span id="calcUbuntu">Linux</span></div>
</div>

<div class="divider"></div>

<!-- button width detection -->
<div id="button-wrapper">
    <div id="button-container">
        <p>Lorem!</p>
    </div>
    <button>dddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</button>
</div>
<!-- ENV-1 detection group -->
<div id="env-1">
    <div id="env-1-items">
        <acronym title="" id="env-1-item-0">test</acronym>
        <applet id="env-1-item-1">test</applet>
        <article id="env-1-item-2">test</article>
        <aside id="env-1-item-3">test</aside>
        <pre id="env-1-item-4">test</pre>
        <form action="" id="env-1-item-5">test</form>
        <strike id="env-1-item-6">test</strike>
        <tt id="env-1-item-7">test</tt>
    </div>
    <div id="env-1-container">
        <p id="env-1-width">Env1W</p>
        <p id="env-1-height">Env1H</p>
    </div>
</div>
<!-- ENV-2 detection group -->
<div id="env-2">
    <div id="env-2-items">
        <h1 id="env-2-item-0">test</h1>
        <h2 id="env-2-item-1">test</h2>
        <h3 id="env-2-item-2">test</h3>
        <h4 id="env-2-item-3">test</h4>
        <h5 id="env-2-item-4">test</h5>
        <h6 id="env-2-item-5">test</h6>
        <picture id="env-2-item-6">test</picture>
        <time id="env-2-item-7">test</time>
        <del id="env-2-item-8">test</del>
        <details id="env-2-item-9">test</details>
        <figure id="env-2-item-10">test</figure>
        <img src="" alt="" id="env-2-item-11">
    </div>
    <div id="env-2-container">
        <p id="env-2-width">Env2W</p>
        <p id="env-2-height">Env2H</p>
    </div>
</div>
<!-- ENV-3 detection group -->
<div id="env-3">
    <div id="env-3-items">
        <!-- wykorzystalem domyslne wartosci z w3schools -->
        <address id="env-3-item-0">
            Written by <a href="mailto:webmaster@example.com">Jon Doe</a>.<br>
            Visit us at:<br>
            Example.com<br>
            Box 564, Disneyland<br>
            USA
        </address>
    </div>
    <div id="env-3-container">
        <p id="env-3-width">Env3W</p>
        <p id="env-3-height">Env3H</p>
    </div>
</div>
<!--  ENV-4 detection group -->
<div id="env-4">
    <div id="env-4-items">
        <canvas id="env-4-item-0">Veeeeery long text that can be detected when javascript is disabled in your browser so
            canvas doesn't render
        </canvas>
    </div>
    <div id="env-4-container">
        <p id="env-4-width">Env4W</p>
    </div>
</div>
<!-- ENV-5 detection group -->
<div id="env-5">
    <div id="env-5-items">
        <audio src="" id="env-5-item-0">browser doesn't support audio</audio>
        <video src="" id="env-5-item-1">browser doesn't support video</video>
        <svg id="env-5-item-2"></svg>
    </div>
    <div id="env-5-container">
        <p id="env-5-width">Env5W</p>
        <p id="env-5-height">Env5H</p>
    </div>
</div>
<!-- ENV-6 detection group -->
<div id="env-6">
    <div id="env-6-items">
        <textarea name="textarea" id="input-textarea"></textarea>
    </div>
    <div id="env-6-container">
        <p id="env-6-width">Env6W</p>
        <p id="env-6-height">Env6H</p>
    </div>
</div>
<!-- ENV-7 detection group -->
<div id="env-7">
    <div id="env-7-items">
        <bdi id="env-7-item-0">إيان</bdi>
        <bdo id="env-7-item-1" dir="rtl">test</bdo>
        <bgsound id="env-7-item-2"></bgsound>
        <big id="env-7-item-3">test</big>
        <blink id="env-7-item-4">test</blink>
        <blockquote id="env-7-item-5">test</blockquote>
        <button id="env-7-item-6"></button>
        <input type="button" id="env-7-item-7">
        <center id="env-7-item-8">test</center>
        <rtc id="env-7-item-9">test</rtc>
        <hgroup id="env-7-item-10">
            <h2>Norway</h2>
            <p>The land with the midnight sun.</p>
        </hgroup>
        <keygen id="env-7-item-11"></keygen>
        <spacer id="env-7-item-12"></spacer>
        <q id="env-7-item-13">test</q>
        <small id="env-7-item-14">test</small>
        <p id="env-7-item-15">test</p>
    </div>
    <div id="env-7-container">
        <p id="env-7-width">Env7W</p>
        <p id="env-7-height">Env7H</p>
    </div>
</div>
<!-- ENV-8 detection group -->
<div id="env-8">
    <div id="env-8-items">
        <cite id="env-8-item-0">test</cite>
        <code id="env-8-item-1">test</code>
        <data id="env-8-item-2">test</data>
        <input type="color" id="env-8-item-3">
        <content id="env-8-item-4">test</content>
        <em id="env-8-item-5">test</em>
        <image id="env-8-item-6"></image>
        <progress id="env-8-item-7"></progress>
        <meter id="env-8-item-8" min="0" max="100" low="33" high="66" optimum="80" value="50"></meter>
        <portal id="env-8-item-9" src="https://google.com">test</portal>
        <ins id="env-8-item-10">test</ins>
        <dfn id="env-8-item-11">test</dfn>
        <p id="env-8-item-12">test</p>
        <marquee id="env-8-item-13">test</marquee>
        <u id="env-8-item-14">test</u>
        <wbr id="env-8-item-15">
        <s id="env-8-item-16">test</s>
        <mark id="env-8-item-17">test</mark>
    </div>
    <div id="env-8-container">
        <p id="env-8-width">Env8W</p>
        <p id="env-8-height">Env8H</p>
    </div>
</div>
<!-- ENV-9 detection group -->
<div id="env-9">
    <div id="env-9-items">
        <input type="date" name="date" id="env-9-item-0">
        <input type="file" name="file" id="env-9-item-1">
        <input type="month" name="month" id="env-9-item-2">
        <input type="week" name="week" id="env-9-item-3">
    </div>
    <div id="env-9-container">
        <p id="env-9-width">Env9W</p>
        <p id="env-9-height">Env9H</p>
    </div>
</div>
<!-- ENV-10 detection group -->
<div id="env-10">
    <div id="env-10-items">
        <input type="number" name="number" id="env-10-item-0">
        <input type="range" name="range" id="env-10-item-1">
        <input type="time" name="time" id="env-10-item-2">
        <select name="select" id="env-10-item-3">
        </select>
        <embed src="" id="env-10-item-4">
    </div>
    <div id="env-10-container">
        <p id="env-10-width">Env10W</p>
        <p id="env-10-height">Env10H</p>
    </div>
</div>
<!-- ENV-11 detection group -->
<div id="env-11">
    <div id="env-11-items">
        <input type="datetime" name="datetime" id="env-11-item-0">
        <input type="datetime-local" name="datetime-local" id="env-11-item-1">
        <input type="tel" name="tel" id="env-11-item-2">
        <input type="radio" name="radio" id="env-11-item-3">
        <input type="reset" value="" name="reset" id="env-11-item-4">
        <input type="submit" value="" name="submit" id="env-11-item-5">
        <input type="image" src="" alt="" name="image" id="env-11-item-6">
        <input type="text" name="text" id="env-11-item-7">
        <input type="email" name="email" id="env-11-item-8">
        <input type="search" name="search" id="env-11-item-9">
        <input type="url" name="url" id="env-11-item-10">
        <input type="checkbox" name="checkbox" id="env-11-item-11">
    </div>
    <div id="env-11-container">
        <p id="env-11-width">Env11W</p>
        <p id="env-11-height">Env11H</p>
    </div>
</div>
<!-- ENV-12 detection group -->
<div id="env-12">
    <div id="env-12-items">
        <span id="env-12-item-0">
            &#192;
            &#193;
            &#194;
            &#195;
            &#196;
            &#197;
            &#198;
            &#199;
            &#200;
            &#201;
            &#202;
            &#203;
            &#204;
            &#205;
            &#206;
            &#207;
            &#208;
            &#209;
            &#210;
            &#211;
            &#212;
            &#213;
            &#214;
            &#215;
            &#216;
            &#217;
            &#218;
            &#219;
            &#220;
            &#221;
            &#222;
            &#223;
            &#224;
            &#225;
            &#226;
            &#227;
            &#228;
            &#229;
            &#230;
            &#231;
            &#232;
            &#233;
            &#234;
            &#235;
            &#236;
            &#237;
            &#238;
            &#239;
            &#240;
            &#241;
            &#242;
            &#243;
            &#244;
            &#245;
            &#246;
            &#247;
            &#248;
            &#249;
            &#250;
            &#251;
            &#252;
            &#253;
            &#254;
            &#255;
        </span>
        <span id="env-12-item-1">
            &#160;
            &#161;
            &#162;
            &#163;
            &#164;
            &#165;
            &#166;
            &#167;
            &#168;
            &#169;
            &#170;
            &#171;
            &#172;
            &#173;
            &#174;
            &#175;
            &#176;
            &#177;
            &#178;
            &#179;
            &#180;
            &#181;
            &#182;
            &#183;
            &#184;
            &#185;
            &#186;
            &#187;
            &#188;
            &#189;
            &#190;
            &#191;
        </span>
        <span id="env-12-item-2">
            &#880;
            &#881;
            &#882;
            &#883;
            &#884;
            &#885;
            &#886;
            &#887;
            &#888;
            &#889;
            &#890;
            &#891;
            &#892;
            &#893;
            &#894;
            &#895;
            &#896;
            &#897;
            &#898;
            &#899;
            &#900;
            &#901;
            &#902;
            &#903;
            &#904;
            &#905;
            &#906;
            &#907;
            &#908;
            &#909;
            &#910;
            &#911;
            &#912;
            &#913;
            &#914;
            &#915;
            &#916;
            &#917;
            &#918;
            &#919;
            &#920;
            &#921;
            &#922;
            &#923;
            &#924;
            &#925;
            &#926;
            &#927;
            &#928;
            &#929;
            &#930;
            &#931;
            &#932;
            &#933;
            &#934;
            &#935;
            &#936;
            &#937;
            &#938;
            &#939;
            &#940;
            &#941;
            &#942;
            &#943;
            &#944;
            &#945;
            &#946;
            &#947;
            &#948;
            &#949;
            &#950;
            &#951;
            &#952;
            &#953;
            &#954;
            &#955;
            &#956;
            &#957;
            &#958;
            &#959;
            &#960;
            &#961;
            &#962;
            &#963;
            &#964;
            &#965;
            &#966;
            &#967;
            &#968;
            &#969;
            &#970;
            &#971;
            &#972;
            &#973;
            &#974;
            &#975;
            &#976;
            &#977;
            &#978;
            &#979;
            &#980;
            &#981;
            &#982;
            &#983;
            &#984;
            &#985;
            &#986;
            &#987;
            &#988;
            &#989;
            &#990;
            &#991;
            &#992;
            &#993;
            &#994;
            &#995;
            &#996;
            &#997;
            &#998;
            &#999;
            &#1000;
            &#1001;
            &#1002;
            &#1003;
            &#1004;
            &#1005;
            &#1006;
            &#1007;
            &#1008;
            &#1009;
            &#1010;
            &#1011;
            &#1012;
            &#1013;
            &#1014;
            &#1015;
            &#1016;
            &#1017;
            &#1018;
            &#1019;
            &#1020;
            &#1021;
            &#1022;
            &#1023;
        </span>
        <span id="env-12-item-3">
            &#8704;
            &#8705;
            &#8706;
            &#8707;
            &#8708;
            &#8709;
            &#8710;
            &#8711;
            &#8712;
            &#8713;
            &#8714;
            &#8715;
            &#8716;
            &#8717;
            &#8718;
            &#8719;
            &#8720;
            &#8721;
            &#8722;
            &#8723;
            &#8724;
            &#8725;
            &#8726;
            &#8727;
            &#8728;
            &#8729;
            &#8730;
            &#8731;
            &#8732;
            &#8733;
            &#8734;
            &#8735;
            &#8736;
            &#8737;
            &#8738;
            &#8739;
            &#8740;
            &#8741;
            &#8742;
            &#8743;
            &#8744;
            &#8745;
            &#8746;
            &#8747;
            &#8748;
            &#8749;
            &#8750;
            &#8751;
            &#8752;
            &#8753;
            &#8754;
            &#8755;
            &#8756;
            &#8757;
            &#8758;
            &#8759;
            &#8760;
            &#8761;
            &#8762;
            &#8763;
            &#8764;
            &#8765;
            &#8766;
            &#8767;
            &#8768;
            &#8769;
            &#8770;
            &#8771;
            &#8772;
            &#8773;
            &#8774;
            &#8775;
            &#8776;
            &#8777;
            &#8778;
            &#8779;
            &#8780;
            &#8781;
            &#8782;
            &#8783;
            &#8784;
            &#8785;
            &#8786;
            &#8787;
            &#8788;
            &#8789;
            &#8790;
            &#8791;
            &#8792;
            &#8793;
            &#8794;
            &#8795;
            &#8796;
            &#8797;
            &#8798;
            &#8799;
            &#8800;
            &#8801;
            &#8802;
            &#8803;
            &#8804;
            &#8805;
            &#8806;
            &#8807;
            &#8808;
            &#8809;
            &#8810;
            &#8811;
            &#8812;
            &#8813;
            &#8814;
            &#8815;
            &#8816;
            &#8817;
            &#8818;
            &#8819;
            &#8820;
            &#8821;
            &#8822;
            &#8823;
            &#8824;
            &#8825;
            &#8826;
            &#8827;
            &#8828;
            &#8829;
            &#8830;
            &#8831;
            &#8832;
            &#8833;
            &#8834;
            &#8835;
            &#8836;
            &#8837;
            &#8838;
            &#8839;
            &#8840;
            &#8841;
            &#8842;
            &#8843;
            &#8844;
            &#8845;
            &#8846;
            &#8847;
            &#8848;
            &#8849;
            &#8850;
            &#8851;
            &#8852;
            &#8853;
            &#8854;
            &#8855;
            &#8856;
            &#8857;
            &#8858;
            &#8859;
            &#8860;
            &#8861;
            &#8862;
            &#8863;
            &#8864;
            &#8865;
            &#8866;
            &#8867;
            &#8868;
            &#8869;
            &#8870;
            &#8871;
            &#8872;
            &#8873;
            &#8874;
            &#8875;
            &#8876;
            &#8877;
            &#8878;
            &#8879;
            &#8880;
            &#8881;
            &#8882;
            &#8883;
            &#8884;
            &#8885;
            &#8886;
            &#8887;
            &#8888;
            &#8889;
            &#8890;
            &#8891;
            &#8892;
            &#8893;
            &#8894;
            &#8895;
            &#8896;
            &#8897;
            &#8898;
            &#8899;
            &#8900;
            &#8901;
            &#8902;
            &#8903;
            &#8904;
            &#8905;
            &#8906;
            &#8907;
            &#8908;
            &#8909;
            &#8910;
            &#8911;
            &#8912;
            &#8913;
            &#8914;
            &#8915;
            &#8916;
            &#8917;
            &#8918;
            &#8919;
            &#8920;
            &#8921;
            &#8922;
            &#8923;
            &#8924;
            &#8925;
            &#8926;
            &#8927;
            &#8928;
            &#8929;
            &#8930;
            &#8931;
            &#8932;
            &#8933;
            &#8934;
            &#8935;
            &#8936;
            &#8937;
            &#8938;
            &#8939;
            &#8940;
            &#8941;
            &#8942;
            &#8943;
            &#8944;
            &#8945;
            &#8946;
            &#8947;
            &#8948;
            &#8949;
            &#8950;
            &#8951;
            &#8952;
            &#8953;
            &#8954;
            &#8955;
            &#8956;
            &#8957;
            &#8958;
            &#8959;
        </span>
        <span id="env-12-item-4">
<!--            here should be "miscellaneous HTML entities" -->
        </span>
    </div>
    <div id="env-12-container">
        <p id="env-12-width">Env12W</p>
        <p id="env-12-height">Env12H</p>
    </div>
</div>
<!-- ENV-13 detection group -->
<div id="env-13">
    <div id="env-13-items">
        <span id="env-13-item-0">test</span>
        <ruby id="env-13-item-1">漢
            <rt>ㄏㄢˋ</rt>
        </ruby>
        <ruby id="env-13-item-2">
            <rb>漢</rb>
            <rb>字</rb>
            <rp>(</rp>
            <rt>kan</rt>
            <rt>ji</rt>
            <rp>)</rp>
        </ruby>
    </div>
    <div id="env-13-container">
        <p id="env-13-width">Env13W</p>
        <p id="env-13-height">Env13H</p>
    </div>
</div>
<!-- ENV-14 detection group -->
<div id="env-14">
    <div id="env-14-items">
        <main id="env-14-item-0"></main>
        <nav id="env-14-item-1"></nav>
        <menu id="env-14-item-2"></menu>
        <section id="env-14-item-3"></section>
        <math id="env-14-item-4"></math>
        <fieldset id="env-14-item-5"></fieldset>
        <footer id="env-14-item-6"></footer>
        <hr id="env-14-item-7">
        <table id="env-14-item-8"></table>
    </div>
    <div id="env-14-container">
        <p id="env-14-width">Env14W</p>
        <p id="env-14-height">Env14H</p>
    </div>
</div>
<div class="divider"></div>
<!-- MEDIA-1 detection group - media type and orientation -->
<div id="media-1">
    <div id="media-1-items">
        <div id="media-1-item-0"></div>
        <div id="media-1-item-1"></div>
        <div id="media-1-item-2"></div>
        <div id="media-1-item-3"></div>
        <div id="media-1-item-4"></div>
        <div id="media-1-item-5"></div>
        <div id="media-1-item-6"></div>
    </div>
    <div id="media-1-container">
        <p id="media-1-width">Media1W</p>
    </div>
</div>
<div class="divider"></div>
<!-- MEDIA-2 detection group - media features (boolean or values) -->
<div id="media-2">
    <div id="media-2-items">
        <div id="media-2-item-0"></div>
        <div id="media-2-item-1"></div>
        <div id="media-2-item-2"></div>
        <div id="media-2-item-3"></div>
        <div id="media-2-item-4"></div>
        <div id="media-2-item-5"></div>
        <div id="media-2-item-6"></div>
    </div>
    <div id="media-2-container">
        <p id="media-2-width">Media2W</p>
    </div>
</div>
<div class="divider"></div>
<!-- MEDIA-3 detection group - media features (boolean or values) -->
<div id="media-3">
    <div id="media-3-items">
        <div id="media-3-item-0"></div>
        <div id="media-3-item-1"></div>
        <div id="media-3-item-2"></div>
        <div id="media-3-item-3"></div>
        <div id="media-3-item-4"></div>
        <div id="media-3-item-5"></div>
        <div id="media-3-item-6"></div>
    </div>
    <div id="media-3-container">
        <p id="media-3-width">Media3W</p>
    </div>
</div>
<div class="divider"></div>
<!-- media-4 detection group - media features (boolean or values) -->
<div id="media-4">
    <div id="media-4-items">
        <div id="media-4-item-0"></div>
        <div id="media-4-item-1"></div>
        <div id="media-4-item-2"></div>
        <div id="media-4-item-3"></div>
        <div id="media-4-item-4"></div>
        <div id="media-4-item-5"></div>
        <div id="media-4-item-6"></div>
    </div>
    <div id="media-4-container">
        <p id="media-4-width">Media4W</p>
    </div>
</div>
<div class="divider"></div>
<!-- media-5 detection group - media features (boolean or values) -->
<div id="media-5">
    <div id="media-5-items">
        <div id="media-5-item-0"></div>
        <div id="media-5-item-1"></div>
        <div id="media-5-item-2"></div>
        <div id="media-5-item-3"></div>
        <div id="media-5-item-4"></div>
        <div id="media-5-item-5"></div>
        <div id="media-5-item-6"></div>
    </div>
    <div id="media-5-container">
        <p id="media-5-width">Media5W</p>
    </div>
</div>
<div class="divider"></div>
<!-- media-6 detection group - media features (boolean or values) -->
<div id="media-6">
    <div id="media-6-items">
        <div id="media-6-item-0"></div>
        <div id="media-6-item-1"></div>
        <div id="media-6-item-2"></div>
        <div id="media-6-item-3"></div>
        <div id="media-6-item-4"></div>
        <div id="media-6-item-5"></div>
        <div id="media-6-item-6"></div>
    </div>
    <div id="media-6-container">
        <p id="media-6-width">Media6W</p>
    </div>
</div>
<div class="divider"></div>
<!-- media-7 detection group - media features (boolean or values) -->
<div id="media-7">
    <div id="media-7-items">
        <div id="media-7-item-0"></div>
        <div id="media-7-item-1"></div>
        <div id="media-7-item-2"></div>
        <div id="media-7-item-3"></div>
        <div id="media-7-item-4"></div>
        <div id="media-7-item-5"></div>
        <div id="media-7-item-6"></div>
    </div>
    <div id="media-7-container">
        <p id="media-7-width">Media7W</p>
    </div>
</div>
<div class="divider"></div>
<!-- media-8 detection group - media features (boolean or values) -->
<div id="media-8">
    <div id="media-8-items">
        <div id="media-8-item-0"></div>
        <div id="media-8-item-1"></div>
        <div id="media-8-item-2"></div>
        <div id="media-8-item-3"></div>
        <div id="media-8-item-4"></div>
        <div id="media-8-item-5"></div>
        <div id="media-8-item-6"></div>
    </div>
    <div id="media-8-container">
        <p id="media-8-width">Media8W</p>
    </div>
</div>
<div class="divider"></div>
<!-- media-9 detection group - media features (boolean or values) -->
<div id="media-9">
    <div id="media-9-items">
        <div id="media-9-item-0"></div>
        <div id="media-9-item-1"></div>
        <div id="media-9-item-2"></div>
        <div id="media-9-item-3"></div>
        <div id="media-9-item-4"></div>
        <div id="media-9-item-5"></div>
        <div id="media-9-item-6"></div>
    </div>
    <div id="media-9-container">
        <p id="media-9-width">Media9W</p>
    </div>
</div>
<div class="divider"></div>
<!-- media-10 detection group - media features (boolean or values) -->
<div id="media-10">
    <div id="media-10-items">
        <div id="media-10-item-0"></div>
        <div id="media-10-item-1"></div>
        <div id="media-10-item-2"></div>
        <div id="media-10-item-3"></div>
        <div id="media-10-item-4"></div>
        <div id="media-10-item-5"></div>
        <div id="media-10-item-6"></div>
    </div>
    <div id="media-10-container">
        <p id="media-10-width">Media10W</p>
    </div>
</div>
<div class="divider"></div>
<!-- font detection -->
<div id="font-detection">
    <div class="font-detection-wrapper">
        <div id="font-sans-serif-thin-container">
            <p class="tested-font">sans-serif-thin</p>
        </div>
        <p id="font-sans-serif-thin-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-arno-pro-container">
            <p class="tested-font">ARNO PRO</p>
        </div>
        <p id="font-arno-pro-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-agency-fb-container">
            <p class="tested-font">Agency FB</p>
        </div>
        <p id="font-agency-fb-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-arabic-typesetting-container">
            <p class="tested-font">Arabic Typesetting</p>
        </div>
        <p id="font-arabic-typesetting-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-arial-unicode-ms-container">
            <p class="tested-font">Arial Unicode MS</p>
        </div>
        <p id="font-arial-unicode-ms-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-avantgarde-bk-bt-container">
            <p class="tested-font">AvantGarde Bk BT</p>
        </div>
        <p id="font-avantgarde-bk-bt-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-bankgothic-md-bt-container">
            <p class="tested-font">BankGothic Md BT</p>
        </div>
        <p id="font-bankgothic-md-bt-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-batang-container">
            <p class="tested-font">Batang</p>
        </div>
        <p id="font-batang-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-bitstream-vera-sans-mono-container">
            <p class="tested-font">Bitstream Vera Sans Mono</p>
        </div>
        <p id="font-bitstream-vera-sans-mono-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-calibri-container">
            <p class="tested-font">Calibri</p>
        </div>
        <p id="font-calibri-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-century-container">
            <p class="tested-font">Century</p>
        </div>
        <p id="font-century-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-century-gothic-container">
            <p class="tested-font">Century Gothic</p>
        </div>
        <p id="font-century-gothic-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-clarendon-container">
            <p class="tested-font">Clarendon</p>
        </div>
        <p id="font-clarendon-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-eurostile-container">
            <p class="tested-font">EUROSTILE</p>
        </div>
        <p id="font-eurostile-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-franklin-gothic-container">
            <p class="tested-font">Franklin Gothic</p>
        </div>
        <p id="font-franklin-gothic-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-futura-bk-bt-container">
            <p class="tested-font">Futura Bk BT</p>
        </div>
        <p id="font-futura-bk-bt-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-futura-md-bt-container">
            <p class="tested-font">Futura Md BT</p>
        </div>
        <p id="font-futura-md-bt-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-gotham-container">
            <p class="tested-font">GOTHAM</p>
        </div>
        <p id="font-gotham-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-gill-sans-container">
            <p class="tested-font">Gill Sans</p>
        </div>
        <p id="font-gill-sans-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-helv-container">
            <p class="tested-font">HELV</p>
        </div>
        <p id="font-helv-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-haettenschweiler-container">
            <p class="tested-font">Haettenschweiler</p>
        </div>
        <p id="font-haettenschweiler-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-helvetica-neue-container">
            <p class="tested-font">Helvetica Neue</p>
        </div>
        <p id="font-helvetica-neue-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-humanst521-bt-container">
            <p class="tested-font">Humanst521 BT</p>
        </div>
        <p id="font-humanst521-bt-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-leelawadee-container">
            <p class="tested-font">Leelawadee</p>
        </div>
        <p id="font-leelawadee-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-letter-gothic-container">
            <p class="tested-font">Letter Gothic</p>
        </div>
        <p id="font-letter-gothic-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-levenim-mt-container">
            <p class="tested-font">Levenim MT</p>
        </div>
        <p id="font-levenim-mt-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-lucida-bright-container">
            <p class="tested-font">Lucida Bright</p>
        </div>
        <p id="font-lucida-bright-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-lucida-sans-container">
            <p class="tested-font">Lucida Sans</p>
        </div>
        <p id="font-lucida-sans-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-menlo-container">
            <p class="tested-font">Menlo</p>
        </div>
        <p id="font-menlo-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-ms-mincho-container">
            <p class="tested-font">MS Mincho</p>
        </div>
        <p id="font-ms-mincho-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-ms-outlook-container">
            <p class="tested-font">MS Outlook</p>
        </div>
        <p id="font-ms-outlook-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-ms-reference-specialty-container">
            <p class="tested-font">MS Reference Specialty</p>
        </div>
        <p id="font-ms-reference-specialty-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-ms-ui-gothic-container">
            <p class="tested-font">MS UI Gothic</p>
        </div>
        <p id="font-ms-ui-gothic-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-mt-extra-container">
            <p class="tested-font">MT Extra</p>
        </div>
        <p id="font-mt-extra-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-myriad-pro-container">
            <p class="tested-font">MYRIAD PRO</p>
        </div>
        <p id="font-myriad-pro-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-marlett-container">
            <p class="tested-font">Marlett</p>
        </div>
        <p id="font-marlett-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-meiryo-ui-container">
            <p class="tested-font">Meiryo UI</p>
        </div>
        <p id="font-meiryo-ui-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-microsoft-uighur-container">
            <p class="tested-font">Microsoft Uighur</p>
        </div>
        <p id="font-microsoft-uighur-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-minion-pro-container">
            <p class="tested-font">Minion Pro</p>
        </div>
        <p id="font-minion-pro-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-monotype-corsiva-container">
            <p class="tested-font">Monotype Corsiva</p>
        </div>
        <p id="font-monotype-corsiva-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-pmingliu-container">
            <p class="tested-font">PMingLiU</p>
        </div>
        <p id="font-pmingliu-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-pristina-container">
            <p class="tested-font">Pristina</p>
        </div>
        <p id="font-pristina-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-scriptina-container">
            <p class="tested-font">SCRIPTINA</p>
        </div>
        <p id="font-scriptina-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-segoe-ui-light-container">
            <p class="tested-font">Segoe UI Light</p>
        </div>
        <p id="font-segoe-ui-light-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-serifa-container">
            <p class="tested-font">Serifa</p>
        </div>
        <p id="font-serifa-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-simhei-container">
            <p class="tested-font">SimHei</p>
        </div>
        <p id="font-simhei-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-small-fonts-container">
            <p class="tested-font">Small Fonts</p>
        </div>
        <p id="font-small-fonts-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-staccato222-bt-container">
            <p class="tested-font">Staccato222 BT</p>
        </div>
        <p id="font-staccato222-bt-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-trajan-pro-container">
            <p class="tested-font">TRAJAN PRO</p>
        </div>
        <p id="font-trajan-pro-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-univers-ce-55-medium-container">
            <p class="tested-font">Univers CE 55 Medium</p>
        </div>
        <p id="font-univers-ce-55-medium-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-vrinda-container">
            <p class="tested-font">Vrinda</p>
        </div>
        <p id="font-vrinda-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
    <div class="font-detection-wrapper">
        <div id="font-zwadobef-container">
            <p class="tested-font">ZWAdobeF</p>
        </div>
        <p id="font-zwadobef-text">mmMwWLliI0O&1mmMwWLliI0O&1</p>
    </div>
</div>
<!-- calc-1 function detection-->
<div id="calc-1">
    <div id="calc-1-item"></div>
    <div id="calc-1-container">
        <p id="calc-1-width"></p>
    </div>
</div>
<!-- calc-2 function detection-->
<div id="calc-2">
    <div id="calc-2-item"></div>
    <div id="calc-2-container">
        <p id="calc-2-width"></p>
    </div>
</div>
<!-- calc-3 function detection-->
<div id="calc-3">
    <div id="calc-3-item"></div>
    <div id="calc-3-container">
        <p id="calc-3-width"></p>
    </div>
</div>
<!-- calc-4 function detection-->
<div id="calc-4">
    <div id="calc-4-item"></div>
    <div id="calc-4-container">
        <p id="calc-4-width"></p>
    </div>
</div>
<!-- calc-5 function detection-->
<div id="calc-5">
    <div id="calc-5-item"></div>
    <div id="calc-5-container">
        <p id="calc-5-width"></p>
    </div>
</div>
<!-- calc-6 function detection-->
<div id="calc-6">
    <div id="calc-6-item"></div>
    <div id="calc-6-container">
        <p id="calc-6-width"></p>
    </div>
</div>
<!-- calc-7 function detection-->
<div id="calc-7">
    <div id="calc-7-item"></div>
    <div id="calc-7-container">
        <p id="calc-7-width"></p>
    </div>
</div>
<!-- calc-8 function detection-->
<div id="calc-8">
    <div id="calc-8-item"></div>
    <div id="calc-8-container">
        <p id="calc-8-width"></p>
    </div>
</div>
<!-- calc-9 function detection-->
<div id="calc-9">
    <div id="calc-9-item"></div>
    <div id="calc-9-container">
        <p id="calc-9-width"></p>
    </div>
</div>
<!-- calc-10 function detection-->
<div id="calc-10">
    <div id="calc-10-item"></div>
    <div id="calc-10-container">
        <p id="calc-10-width"></p>
    </div>
</div>


<script src="{{ url_for('static', filename='helper_js.js') }}"></script>
</body>
</html>
